# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.so
*.log

# C++
*.o
*.obj
*.exe
*.out
*.class
*.dll
*.dylib
*.lib
*.a
*.lo
*.la
*.lai
*.slo
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.ncb
*.suo
*.user
*.userosscache
*.userprefs
*.pch
*.pdb
*.idb
*.ipch
*.aps
*.res
*.ilk
*.iobj
*.ipdb
*.tlog
*.log
*.lastbuildstate
*.sdf
*.opensdf
*.cache
*.csproj
*.csproj.user
*.suo
*.sln.docstates